svg,
button {
  transition: all 0.3s linear;
}

.team-members {
  content:" ";
  display:table;
  clear:both;
}

.team_member {
  border: 1px solid #e1e1e1;
  border-radius: 2px;
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
  padding-bottom: 1em;
  text-align: center;
}

.team_member img {
  margin-bottom: 1em;
  height: 180px;
  width: 100%;
}

.team_member header {
  text-align: center;
}

.team_member .entry-title,
.team_member header p {
  margin-bottom: 0.25em;
}

.team_member .entry-title {
  font-size: 1.125em; /* 18 / 16 */
}

.social-links {
  margin: 0;
  width: 100%;
  text-align: center;
}

.social-links li {
  display: inline-block;
}

.social-links a {
  display: inline-block;
  height: 32px;
  width: 32px;
}

.social-links svg {
  max-width: 100%;
  max-height: 100%;
  border-radius: 2px;
}

.social-links .facebook svg {
  background: #3C5A99;
}

.social-links .facebook:hover svg,
.social-links .facebook:focus svg {
  background: #1C2D51;
}

.social-links .twitter svg {
  background: #1da1f2;
}

.social-links .twitter:hover svg,
.social-links .twitter:focus svg {
  background: #115884;
}

.member-bio {
  padding: 1em;
  text-align: left;
}

.member-bio p {
  font-size: 0.75em; /* 12 / 16 */
}

.member-bio p:last-child {
  margin-bottom: 0;
}

.team_member button {
  background: #0072dc;
  font-size: 0.75em;
  text-transform: capitalize;
}

.team_member button:hover,
.team_member button:focus {
  background: #034e93;
}

@media (min-width: 500px) and (max-width: 767px) {
  .team_member {
    float: left;
    margin-left: 0;
    margin-right: 3%;
    width: 47%;
  }

  .team_member:nth-child(2n) {
    margin-right: 0;
  }

  .team_member:nth-child(2n+1) {
    clear: left;
  }
}

@media (min-width: 767px) {
  .team_member {
    float: left;
    margin-left: 0;
    margin-right: 3%;
    width: 30%;
  }

  .team_member:nth-child(3n) {
    margin-right: 0;
  }

  .team_member:nth-child(3n+1) {
    clear: left;
  }
}
